.dashboard-main {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card {
    background: #e0e5ec;
    padding: 30px;
    border-radius: 20px;
    /* box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff; */
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
}

.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.dashboard-subtext {
    color: #555;
    margin-bottom: 20px;
}

.sweet-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.sweet-item {
    background: #e0e5ec;
    box-shadow: inset 3px 3px 6px #a3b1c6, inset -3px -3px 6px #ffffff;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    text-align: left;

}

.sweet-item h3 {
    color: #333;
    margin-bottom: 5px;
}

.sweet-item p {
    color: #555;
    margin: 2px 0;
}

.logout-button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #e0e5ec;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffffff;
    transition: all 0.2s ease-in-out;
}

.logout-button:hover {
    box-shadow: inset 2px 2px 5px #a3b1c6, inset -2px -2px 5px #ffffff;
}

.error {
    color: red;
    font-weight: bold;
}