*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background:linear-gradient(135deg , #f5f7fa 0% , #c3cfe2 100%)
}

.main-box{
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6 , -10px -10px 20px #ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 320px;
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow: inset 5px 5px 10px #a3b1c6 , inset -5px -5px 10px #ffffff;
    text-align: center;
    gap: 20px;
}

.login-input{
    width: 100%;
    padding: 12px 15px;
    border:none;
    border-radius: 12px;
    background: #e0e5ec;
    
    font-size: 14px;
    box-shadow: inset 3px 3px 6px #a3b1c6 , inset -3px -3px 6px #ffffff;
    transition: all 0.3s ease;
}

.login-input:focus{
    outline: none;
     
    box-shadow: inset 2px 2px 5px #a3b1c6 , inset -2px -2px 5px #ffffff;

}

.login-button{
    width: 100%;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #e0e5ec;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #a3b1c6 ,  -5px -5px 10px #ffffff;
    transition: all 0.2s ease-in-out;
}

.login-button:hover{
    box-shadow: inset 2px 2px 5px #a3b1c6 , inset -2px -2px 5px #ffffff;

}

.login-button:active{
    transform: translateY(2px);
}
.title{
    font-size: 30px;
    font-weight: bold;
    
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
