.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #dd6616;
  box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffffff;
  /* border-radius: 15px; */
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.username {
  padding: 8px 12px;
  border-radius: 12px;
  background: #e0e5ec;
  color: #000;
  /* box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffffff; */
  transition: all 0.2s ease-in-out;
}

.username:hover {
  box-shadow: inset 2px 2px 5px #a3b1c6, inset -2px -2px 5px #ffffff;
}

.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background: #e0e5ec;
  box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 150px;
  z-index: 10;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
  background: #d6dae1;
  box-shadow: inset 2px 2px 5px #a3b1c6, inset -2px -2px 5px #ffffff;
}
